/* all the shared style  */

.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* shared text style */
.subtitle {
    font-size: 16px;
    line-height: 26px;
    color: rgba(13, 19, 33, 0.819);
    opacity: 70%;
    font-family: "Azeret Mono", monospace;
}

.all-title {
    font-size: 32px;
    font-weight: bolder;

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */

}


/* project header style  */

header {
    margin-top: 131px;
}

.head-main {
    width: 1440px;
    height: 655px;
    background-image: url("../assets/Hero-bg.png");
    margin: 0 auto;
    text-align: center;


}

.icon-design {
    height: 240px;
    padding-top: 26px;
    padding-bottom: 32px;
}

.head-section {
    padding-left: 221px;
    padding-right: 221px;
    padding-bottom: 45px;
}

.head-title {
    font-size: 48px;
    font-weight: bolder;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 24px 21px;
    height: 65px;
    width: 264px;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal;
     */



}

.btn-style {
    margin-top: 42px;
    margin-bottom: 45px;

}

/* layer part style section  */


/* shared text style  */

.layer-head {
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */

}


.layer-part {
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    /* margin-top: 74px; */
    padding-bottom: 90px;
}



.first-layer-item,
.second-layer-item,
.third-layer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 945px;
    height: 336px;
    margin: 0 auto;
    text-align: start;
    background-color: rgba(250, 235, 215, 0.154);
    margin-bottom: 32px;
    border-radius: 16px;
    padding: 38px;

}

.first-layer,
.second-layer,
.third-layer {
    width: 477px;
    height: 219px;
    padding-right: 99px;
}

.learn-more:hover{

background-color: rgba(128, 128, 128, 0.763); ;
box-shadow: 1px 2px 6px rgba(38, 0, 255, 0.543);
color: rgb(0, 0, 0);

}

.learn-more {
    font-size: 20px;
    font-weight: 500;
    color: rgba(13, 19, 33, 0.7);
    padding: 12px 20px;
    background-color: white;
    opacity: 70%;

    border-color: 1px solid black;  
}

.anchor{
    color: black;
    text-decoration: none;
}

.first-layer-item {
    margin-top: 48px;
}

.content {
    width: 862px;
    height: 113px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 48px; 
}


/* inspiration part style */

.inspiration-part {
    width: 1140px;
    height: 740px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 151px;
}
.video{
   
    /* padding: 32px; */
    border-radius: 16px;
   
    margin: 32px;
}
.inspiration-video{
    height: 615px;
    width: 1140px;
    background-color:rgba(255, 255, 255, 0.599);
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    margin-top: 48px;
   
}

.third-layer-item{
    border: 1px solid black;
}


/* my current target section */

.target-content{
    display: flex;
    gap: 24px;
}

.target-head{
    text-align: center;
    margin-bottom: 48px;
}

.current-target{
    max-width:1140px ;
    height: 460px;
   margin: 0 auto;
   margin-bottom: 151px;
}

.about-title{
    line-height: 36px;
    font-size: 24px;
    font-weight: bolder;

    font-family: "Azeret Mono", monospace;
    /* font-optical-sizing: auto; */

}

.target-focus-html , .target-focus-css , .target-focus-java{

    height: 280px;
    width: 364px;
    padding: 40px;
}
.learn{
    font-size: 16px;
    font-weight: bold;
    color: black;

    font-family: "Azeret Mono", monospace;
}

.learn:hover{
    text-decoration: none;
}

.target-focus-html{
    background-color: rgba(255, 76, 30, 0.05);
}

.target-focus-css{
    background-color: rgba(0, 76, 232, 0.05);
}
.target-focus-java{
    background-color: rgba(255, 223, 0, 0.05);
}

.target-focus-java:hover{
   
    background-image: linear-gradient(#ffdd0062 , #ffdd0040);
}

.target-focus-html:hover{
background-image: linear-gradient(#ff4b1e63 ,#ff4b1e41)
}

.target-focus-css:hover{
    background-image: linear-gradient(#004de862 , #004de840);
}

/* my next target style  */

.next-target{

    height: 866px;
    width: 1140px;
    margin: 0% auto;
}



.next-head{
   text-align: center;
  margin-bottom: 50px;
}

.next-skills-react , .next-skills-node , .next-skills-mongo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 30px;

    width: 1140px;
    height: 209px;
    background-color: #FFFFFF;
    padding: 30px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    box-shadow: 3px 4px 12px rgba(128, 128, 128, 0.264);
}


.skill-name{

    line-height: 36px;
    font-size: 24px;
    font-weight: bolder;

    font-family: "Azeret Mono", monospace;
}

.skill-description{

    font-size: 16px;
    line-height: 26px;
    color: rgba(13, 19, 33, 0.893);
    opacity: 77%;
    font-family: "Azeret Mono", monospace;

}

.text-content{
    width: 941px;
}
