/* all the shared style  */

.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* shared text style */
.subtitle {
    font-size: 16px;
    /* color:rgba(13, 19, 33, 0.829); */
    line-height: 26px;
    color: rgba(13, 19, 33, 0.7);
    opacity: 70%;

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
}

.all-title {
    font-size: 32px;
    font-weight: bolder;

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */

}


/* project header style  */

header {
    margin-top: 131px;
}

.head-main {
    width: 1440px;
    height: 655px;
    background-image: url("../assets/Hero-bg.png");
    margin: 0 auto;
    text-align: center;


}

.icon-design {
    height: 240px;
    padding-top: 26px;
    padding-bottom: 32px;
}

.head-section {
    padding-left: 221px;
    padding-right: 221px;
    padding-bottom: 45px;
}

.head-title {
    font-size: 48px;
    font-weight: bolder;
}

.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 24px 21px;
    height: 65px;
    width: 264px;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal;
     */



}

.btn-style {
    margin-top: 42px;
    margin-bottom: 45px;

}

/* layer part style section  */


/* shared text style  */

.layer-head {
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);

    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */

}


.layer-part {
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
    /* margin-top: 74px; */
    padding-bottom: 90px;
}

/* 
.first-layer-item{
    display: flex;
    justify-content: space-between;
   align-items: center;
   height: 336px;
   width: 945px;
   background-color: rgba(250, 235, 215, 0.307);
}

.first-items{
    text-align: start;
    padding-right: 105px;
} */


.first-layer-item,
.second-layer-item,
.third-layer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 945px;
    height: 336px;
    margin: 0 auto;
    text-align: start;
    background-color: rgba(250, 235, 215, 0.216);
    margin-bottom: 32px;
    border-radius: 16px;
    padding: 38px;

}

.first-layer,
.second-layer,
.third-layer {
    width: 477px;
    height: 219px;
    padding-right: 99px;
}

.learn-more {
    font-size: 20px;
    font-weight: 500;
    color: rgba(13, 19, 33, 0.7);
    padding: 12px 20px;
    background-color: white;
    opacity: 70%;

    border-color: 1px solid black;
}

.first-layer-item {
    margin-top: 48px;
}

.content {
    width: 862px;
    height: 113px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 48px;
}


/* inspiration part style */

.inspiration-part {
    width: 1140px;
    height: 740px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 151px;
}
.video{
   
    /* padding: 32px; */
    border-radius: 16px;
   
    margin: 32px;
}
.inspiration-video{
    height: 615px;
    width: 1140px;
    background-color:rgba(255, 255, 255, 0.599);
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 16px;
    margin-top: 48px;
   
}